body.home {
    .hero-wrapper, .home-slideshow {
        z-index: 10 !important;
        pointer-events: none;
        mix-blend-mode: multiply;
        &:before {
            content:'';
            display:none;
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height:35%;
            background: linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
            z-index:-1;
            opacity:0.8;
        }
    } 
    @media (max-width: 750px) {
        slideshow-slide {
            .slide__image-container {
                height:56vh;
                position: relative;
                z-index:1;
            }
            .slide__video {
                height:auto;
                position: relative;
                z-index:2;
            }
            .slide__content {
                .group-block-content {
                    height:auto;
                    background-color:#2e2e2e;
                }
                h1, h2, h3, h4 {
                        font-size: 24px;
                }
                .group-block {
                    width:100%;
                }
                .text-block {
                    padding-bottom:5px;
                }    
            }
        }    
    }
    @media screen and (min-width: 750px) {
        slideshow-slides[size="large"] {
            min-height: 55rem;
        }
    }
}    
@media screen and (max-width: 750px) {
    .button {
        padding:10px 16px;
    }
}
accordion-custom {
    .page-title {
        display:none;
    }
    table {
        font-size:12px;
        td {
            padding:6px !important;
        }
    }
}

/* form styling */
._formHeader_jnbzb_24 {
    margin-bottom: 12px !important;
}
._formContainer_1q1d2_30 {
    border-radius:4px !important;
}

swatches-variant-picker-component {
    justify-content: center;
}